
<nav id="my-nav-bar" class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
       <%= link_to image_tag("logo.png"), superheros_path %>
    </div>
  </div>
</nav>
